body { margin: 0; padding: 0; top: 0; left: 0; }
.calc {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	max-width: 500px;
	margin: auto;
	top: 50px;
	padding: 20px;
	font-size: 20px;
	box-shadow: 0 0 2px rgba(0, 0, 0, .4);
	border-radius: 3px;
	background: #000;
	color: #fff;
}

.title {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.display .main {
	text-align: right;
}

.display .base:before {
	display: inline-block;
	width: 50px;
}
.display .base.dex:before { content: 'dex'; }
.display .base.dec:before { content: 'dec'; }
.display .base.oct:before { content: 'oct'; }
.display .base.bin:before { content: 'bin'; }

.row {
	display: flex;
	justify-content: space-between;
}

.buttons {
	padding-top: 20px;
}

.button {
	box-sizing: border-box;
	flex: 1;
	height: 50px;
	box-shadow: 0 0 1px #aaa;
	text-align: center;
	line-height: 50px;
	transition: box-shadow .2s, transform .2s, background .2s;
	background: rgba(255, 255, 255, 0.2);
}

.button:hover {
	box-shadow: 0 0 5px #999;
	z-index: 20;
	transform: scale(1.2);
	background: rgba(0, 0, 0, 1);
}
